<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="/js/velocity.ui.js"></script>
  <link rel="stylesheet" href="/styles.css">


  <%= csrf_meta_tag %>
  <style>
    .profile-container {
      width: 90%;
      position: relative;
    }


    .tag-container {
      font-size: 0;
    }

    noscript {
      display: none;
    }

    .tag .close {
      position: absolute;
      z-index: 100;
    }
  </style>
</head>
<body>

  <div class="profile-container">
    <h1><%= @profile.name %></h1>
    <h2><%= @profile.role %></h2>
    <div class="left big-box">
      <%= image_tag(@profile.image_url) %>
    </div>
    <div class="right big-box">
      <div class="tag-container">
        <% @profile.tags.each do |t| %>
          <%= render 'profiles/tag', :tag => t %>
        <% end %>
      <div>
    </div>
  </div>

  <noscript>
    <%= render 'profiles/tag',
      :tag => nil
     %>
  </noscript>

  <% unless @profile.facebook -%>
    <button class="fb-integrate"></button>
  <% end -%>

  <% unless @profile.linkedin -%>
    <button class="linkedin-integrate"></button>
  <% end -%>

</body>
<script>
  $(document).ready(function() {

    $.ajaxSetup({ cache: true });

    // Facebook
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '1104251826303726',
        status: true,
        version: 'v2.5'
      });

      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          <% unless @profile.facebook -%>
            $('.fb-integrate').remove();
            FB.api(
              "/"+ response.authResponse.userID+ "/likes",
              function (response) {
                if (response && !response.error) {
                  var likes = [];

                  var getPage = function(response){
                    likes = likes.concat(response.data.map(function(d) { return d.name }));
                    if (response.paging && response.paging.next) {
                      $.ajax({
                        type: 'get',
                        url: response.paging.next,
                        success: function(res) {
                          getPage(res)
                        }
                      })
                    } else {
                      addTags(likes, { facebook: true }).then(function(d) {
                        var tags = [];
                        for (var i = 0; i < d.tags_added.length; i++) {
                          tags.push(addSingleTag('.tag-container', d.tags_added[i]));
                        }
                        $(tags.map(function(d) { return d[0] }))
                          .velocity('transition.bounceIn', {stagger: 25, duration: 500})                     });
                    }
                  }

                  getPage(response);
                }
              }
            );
          <% end-%>
        }
      });
    });


    $('.fb-integrate').on('click', function() {
      FB.login(function() {}, {scope: 'user_likes'});
    })

    $('.linkedin-integrate').on('click', function() {
      IN.User.authorize(function(d) {
        IN.API.Raw('/people/~:(skills)?format=json').result(function(d) {
        });
      });
    })
  });

function removeSingleTag(e, tagElement) {
  e.stopPropagation();

  var tag = tagElement.parentElement;
  var tagText = $(tag).find('span').text();

  removeTags([tagText]).then(function(d) {
    $(tag).velocity('transition.bounceOut', 500, function() {
      tag.remove();
    })
  });
}

function addSingleTag(parent, tagText) {
  var tag = $($('noscript').text());
  tag[0].onclick = function() {
    window.location.pathname = '/profiles?query=' + tagText.replace(/\s/, '+');
  }
  tag.find('span').html(tagText);
  $(parent).append(tag);
  return tag;
}

function removeTags(tags) {
  return new Promise(function(res, rej) {
    $.ajax({
      type: 'POST',
      url: '/profiles/<%= @profile.id -%>/remove_tags',
      data: { tags: tags.join(",") },
      success: function(d) { res(d); },
      error: function(d) { rej(d); }
    });
  })
}

function addTags(tags, opts) {
  opts = opts || {} ;
  opts.facebook = opts.facebook || false;
  opts.linkedin = opts.linkedin || false;

  return new Promise(function(res ,rej) {
    $.ajax({
      type: 'POST',
      url: '/profiles/<%= @profile.id -%>/add_tags',
      data: {
        tags: tags.join(","),
        facebook: opts.facebook,
        linkedin: opts.linkedin
      },
      success: function(d) { res(d); },
      error: function(d) { rej(d) }
    });
  });
}
</script>

<script type="text/javascript" src="https://platform.linkedin.com/in.js">
  api_key: 778xhtsde41js3
</script>
