<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="/js/velocity.ui.js"></script>
  <link rel="stylesheet" href="/styles.css">

  <style>
    .profile-container {
      width: 90%;
      position: relative;
    }

    .tag-container {
      font-size: 0;
    }

    noscript {
      display: none;
    }
  </style>
</head>
<body>
  <div class="profile-container">
    <h1 style="padding: 0 50px;"><%= @profile.name %></h1>
    <h2 style="padding: 0 50px;"><%= @profile.role %></h2>
    <div class="left big-box">
      <%= image_tag(@profile.image_url) %>
    </div>
    <div class="right big-box">
      <div class="tag-container">
        <% @profile.tags.each do |t| %>
          <%= render 'profiles/tag', :tag => t %>
        <% end %>
      <div>
    </div>
  </div>


  <noscript>
    <%= render 'profiles/tag',
      :tag => nil
     %>
  </noscript>
</body>
