<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>

  <button class="fb-integrate">
    Facebook
  </button>
</body>
<script>
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '1104251826303726',
        version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
      });

      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          $('.fb-integrate').prop('disabled', true);
          /* make the API call */
          FB.api(
            "/" + response.authResponse.userID + "/likes",
            function (response) {
              if (response && !response.error) {
                debugger
              }
            }
          );
        }
      });

    });

    $('.fb-integrate').on('click', function(d) {
      FB.login();
    })
  });
</script>
<style>
  .profile-container {
    width: 950px;
    position: relative;
  }

  .big-box {
    display: inline-block;
    position: relative;
  }

  .left {
    width: 35%;
    display: table-cell;
  }

  .right {
    width: 65%;
    display: table-cell;
  }

  noscript {
    display: none;
  }
</style>

<div class="profile-container">
  <h1><%= @profile.name %></h1>
  <h2><%= @profile.role %></h2>
  <div class="left big-box">
    <%= image_tag(@profile.image_url, class: "menu_icon") %>
  </div>
  <div class="right big-box">
    <div class="tag-container">
      <% @profile.tags.each do |t| %>
        <%= render 'profiles/tag', :tag => t %>
      <% end %>
    <div>
  </div>
</div>

<noscript>
  <%= render 'profiles/tag', 
    :tag => nil
   %>
</noscript>
